@import "https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple";
@import "https://fonts.googleapis.com/css?family=Arimo|Titillium+Web|Hind";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Rancho;
  font-size: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#sec {
  margin-top: 6%
}

body {
  font: 16px;
  text-align: center;
  font-style: Titillium;
  width: 100%;
  padding: 60px 20px 20px 20px;
  height: 100vh;
  background: url("../img/cover.jpeg");
}

#myInput {
  background-color: #f1f1f1;
  width: 100%;
  height: 40px;
  border-radius: 5%;
  paz
}

#results {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
}

.img_makeup {
  margin: 1%;
  border: 4px solid #ffcccc;
  border-radius: 8px;
  width: 210px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 30%;
}

input[type=submit] {
  background-color: #ffcccc;
  border-radius: 15%;
  cursor: pointer;
  margin-left: 7px;
}

.results {
  justify-content: center;
}

@media screen and (max-width:600px) {
  .autocomplete {
    position: relative;
    display: inline-block;
    width: 50%;
  }
  #results {
    display: grid;
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  #results {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }
  .autocomplete {
    position: relative;
    display: inline-block;
    width: 50%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  #results {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-gap: 10px;
  }
}
